<!DOCTYPE html>
<html>
  <head>
    <title>Register Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="login-page">
    

    <div class="form">
      <form method="POST" action="/register">
        <input type="text" name="username" placeholder="username">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="passwordConf" placeholder="passwordConf">
        <button> Submit </button>
      </form>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </div>
  </div>
  </body>
</html>
